.wrapper {
  flex: 0 1 auto;
  width: 100%;
  max-width: calc(100vw - (2 * var(--chakra-spacing-4)));
  background-color: #111;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;

  .grid {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    display: grid;
    gap: 4px;
  }
}
